body {
    text-align: center;
    font-family: cursive;
    color: rgb(220, 220, 220);
    background-color: rgba(34, 139, 34);
  }
  #title {
    font-style: italic;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 165, 32);
  }
  #image {
    max-width: 500px;
    border-radius: 0%;
    display: block;
    margin: auto;
    border-color: rgba(255, 228, 225);
    border-width: 15px;
    border-style: double;
  }
  #tribute-link {
    color: rgb(48, 24, 7);
  }
  #img-caption {
    color: rgb(220, 220, 220);
  }
  #click {
    color: rgb(0, 0, 0);
    background-color: rgb(218, 165, 32);
  }
  #InterestingFacts {
    color: rgb(255, 228, 225);
    text-align: left;
  }